<div class="headerSOP">
    <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Separation
        </b></div>
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/Separation/fandfattendence']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">F And F
                        Attendance</a>
                </li>
                <li><a [routerLink]="['/Master/Separation/fullfinalSettlement']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Full and Final
                        Settlement
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>