<div class="page-wrapper" style="padding-top: 10px;">
    <div class="scrollable-content">
        <div style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 700;">
            Password Lock Management
        </div>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">User Name</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="Username" />
                    <!-- <select class="form-select form-select-sm" [ngModel]="EmployeeId">
                        <option value="">--Select--</option>
                        <option *ngFor="let pay of paytype" [value]="pay.PayType_Id">{{pay.PayType}}</option>
                    </select> -->
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small" n style="white-space: nowrap;">Role</label>
                    <select class="form-select form-select-sm" [ngModel]="Role">
                        <option value="">--Select--</option>
                        <!-- <option *ngFor="let pay of paytype" [value]="pay.PayType_Id">{{pay.PayType}}</option> -->
                    </select>
                </div>
                <div class="col-md-2">
                    <span class="text-muted small">Inactive</span>
                    <mat-checkbox [(ngModel)]="inActive">
                    </mat-checkbox>
                </div>

                <!-- <div class="col-md-3">
                    <label class="form-label text-muted small" style="white-space: nowrap;">
                        Inactive
                    </label>
                    <mat-checkbox [(ngModel)]="inActive"></mat-checkbox>
                </div> -->

                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onsearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center"
                        style="border: none; border-radius: 7px; cursor: pointer; background-color: #0d6efd; color: white; ">
                        Reset Lock
                    </button>
                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel">
                        <mat-icon>table_chart</mat-icon>
                    </button> -->
                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="import">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="downlaod">
                            <mat-icon>cloud_download</mat-icon>
                        </button> -->
                    <!-- <button class="btn  btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                        (click)="companyPermissionAdd()">
                        <mat-icon>add</mat-icon>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="table-wrapper1" *ngIf="showTable">
            <div class="table-scroll">
                <mat-table [dataSource]="uploadedData" class="mat-elevation-z8 custom-table">

                    <!--  Action -->
                    <!-- 🔹 Sl.No -->
                    <ng-container matColumnDef="slNo">
                        <mat-header-cell *matHeaderCellDef><strong>Sl.No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.SNo }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Code -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef><strong>Name</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.companycode }}</mat-cell> -->
                    </ng-container>

                    <!-- 🔹 Description -->
                    <ng-container matColumnDef="employeeid">
                        <mat-header-cell *matHeaderCellDef><strong>Employee Id</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.employeecode }}</mat-cell> -->
                    </ng-container>

                    <ng-container matColumnDef="emailid">
                        <mat-header-cell *matHeaderCellDef><strong>Email Id</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.employeename }}</mat-cell> -->
                    </ng-container>

                    <!-- 🔹 Pay Type -->
                    <ng-container matColumnDef="reportingto">
                        <mat-header-cell *matHeaderCellDef><strong>Reporting To</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.paysequenceno }}</mat-cell> -->
                    </ng-container>

                    <!-- 🔹 Taxable -->
                    <ng-container matColumnDef="roles">
                        <mat-header-cell *matHeaderCellDef><strong>Roles</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.payperiod }}</mat-cell> -->
                    </ng-container>

                    <ng-container matColumnDef="activestatus">
                        <mat-header-cell *matHeaderCellDef><strong>Active Status</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.monthdays }}</mat-cell> -->
                    </ng-container>

                    <ng-container matColumnDef="lockingstatus">
                        <mat-header-cell *matHeaderCellDef><strong>Locking Status</strong></mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row">{{ row.monthdays }}</mat-cell> -->
                    </ng-container>


                    <!-- Header Rows -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                    <!-- Data Rows -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="uploadedData.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>