<mat-card class="custom-card">
    <mat-card-header class="sticky-header">
        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">Create
            GST Master</mat-card-title>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onClose()" class="no-border-icon">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-header>

    <mat-card-content class="scroll-content">
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label class="form-label text-muted small">GST Master Id</label>
                <span style="color: red;">*</span>
                <input class="form-control form-control-sm" [(ngModel)]="GSTMasterId" name="GSTMasterId" readonly />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">Effective Date</label>
                <span style="color: red;">*</span>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="EffectiveDate"
                    name="EffectiveDate" />

            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">GST Number</label>
                <span style="color: red;">*</span>
                <input class="form-control form-control-sm" [(ngModel)]="GSTNumber" name="GSTNumber" />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">State Name <span style="color: red;">*</span></label>
                <select class="form-select form-select-sm" [(ngModel)]="StateName" name="StateName"
                    (ngModelChange)="Loadgsttype($event); Loadlocation($event)">

                    <option *ngFor="let pf of state" [ngValue]="pf.state_Id">
                        {{ pf.state_Name }}
                    </option>
                </select>

            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">GST Type <span style="color: red;">*</span></label>
                <select class="form-select form-select-sm" [(ngModel)]="GSTType" name="GSTType">
                    <option *ngFor="let pf of gsttypes" [value]="pf.gstTypeId">
                        {{ pf.gstTypeName }}
                    </option>
                </select>

            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">Quess Legal Entity<span style="color: red;">*</span></label>
                <select class="form-select form-select-sm" [(ngModel)]="Entity" name="Entity">
                    <option value="">-Select-</option>
                    <option *ngFor="let pf of entity" [value]="pf.Entity_Id">
                        {{ pf.Entity_Name }}
                    </option>
                </select>

            </div>




            <div class="col-md-4">
                <label class="form-label text-muted small">Company Name</label>
                <span style="color: red;">*</span>
                <input class="form-control form-control-sm" [(ngModel)]="CompanyName" name="CompanyName" />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">Company Address</label>
                <span style="color: red;">*</span>
                <input class="form-control form-control-sm" [(ngModel)]="CompanyAddress" name="CompanyAddress" />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">Pin Code</label>
                <span style="color: red;">*</span>
                <input class="form-control form-control-sm" [(ngModel)]="PinCode" name="PinCode" />
            </div>
        </div>



        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <label class="form-label text-muted small">PAN Number <span style="color: red;">*</span></label>
                <input class="form-control form-control-sm" [(ngModel)]="PANNumber" name="PANNumber" />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">TAN Number <span style="color: red;">*</span></label>
                <input class="form-control form-control-sm" [(ngModel)]="TANNumber" name="TANNumber" />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">Location <span style="color: red;">*</span></label>
                <!-- <input class="form-control form-control-sm" [(ngModel)]="Location" name="Location" /> -->
                <select class="form-select form-select-sm" [(ngModel)]="Location" name="Location">
                    <option *ngFor="let loaction of location" [ngValue]="loaction.city_Id">
                        {{ loaction.city_Name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- <div class="col-md-4">
                    <label for="cgstCheck" class="form-label text-muted small mb-0">GST Percentage</label>
                    <span style="color: red;">*</span>
                    <input type="number" class="form-control form-control-sm w-100" [(ngModel)]="cgstPercentage"
                        name="cgstPercentage" />
                </div> -->

        <div class="row g-3 mb-3">


            <div class="col-md-4 d-flex flex-column align-items-start">
                <div class="d-flex align-items-center mb-1">
                    <input type="checkbox" id="cgstCheck" class="me-2" [(ngModel)]="cgstApplicable"
                        name="cgstApplicable" disabled />
                    <label for="cgstCheck" class="form-label text-muted small mb-0">
                        CGST Percentage
                    </label>
                </div>

                <input type="number" class="form-control form-control-sm w-100" [(ngModel)]="cgstPercentage"
                    name="cgstPercentage" />
            </div>


            <div class="col-md-4 d-flex flex-column align-items-start">
                <div class="d-flex align-items-center mb-1">
                    <input type="checkbox" id="sgstCheck" class="me-2" [(ngModel)]="sgstApplicable"
                        name="sgstApplicable" (change)="toggleGST('sgst')" />
                    <label for="sgstCheck" class="form-label text-muted small mb-0">
                        SGST Percentage
                    </label>
                </div>

                <input type="number" class="form-control form-control-sm w-100" [(ngModel)]="sgstPercentage"
                    name="sgstPercentage" [disabled]="!sgstApplicable" />
            </div>
            <div class="col-md-4 d-flex flex-column align-items-start">
                <div class="d-flex align-items-center mb-1">
                    <input type="checkbox" id="utgstCheck" class="me-2" [(ngModel)]="utgstApplicable"
                        name="utgstApplicable" (change)="toggleGST('utgst')" />
                    <label for="utgstCheck" class="form-label text-muted small mb-0">
                        UTGST Percentage
                    </label>
                </div>

                <input type="number" class="form-control form-control-sm w-100" [(ngModel)]="utgstPercentage"
                    name="utgstPercentage" [disabled]="!utgstApplicable" />
            </div>


        </div>
        <div class="row g-3 mb-3">

            <div class="col-md-4 ">
                <label class="form-label text-muted small">Cess Percentage</label>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="cessPercentage"
                    name="cessPercentage" />
            </div>
            <div class="col-md-4">
                <label class="form-label text-muted small">Cess Effective From Date</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="cessFromDate"
                    name="cessFromDate" />
            </div>

            <div class="col-md-4">
                <label class="form-label text-muted small">Cess Effective To Date</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="cessToDate" name="cessToDate" />
            </div>
        </div>

    </mat-card-content>

    <mat-card-footer class="footer">
        <div class="d-flex justify-content-end mt-3">
            <div class="btn-1"
                style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                <button type="cancel"
                    style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0;"
                    (click)="onClose()">
                    Cancel
                </button>

                <button type="submit" (click)="SaveClick()"
                    style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue;color: white; ">
                    Save
                </button>
            </div>
        </div>
    </mat-card-footer>
</mat-card>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>
<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>