<div class="page-wrapper">
    <div class="scrollable-content">
        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">
            Other Income Culture
        </div>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Company Code</label>
                    <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                </div>

                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onSearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel" (click)="exportToExcel()">
                        <mat-icon>download</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                        matTooltip="Import" (click)="FileUpload(fileInput)">
                        <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)"
                            accept=".xlsx, .xls" />
                        <mat-icon>cloud_upload</mat-icon>
                    </button>

                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="Template" (click)="DownloadTemplate()">
                        <mat-icon>cloud_download</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" matTooltip="Add"
                        (click)="AddOtherImcome()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="d-flex align-items-center justify-content-end"
                    style="padding-top: 10px; padding-right: 40px;" *ngIf="showTable">
                    <!-- Search Box -->
                    <div style="display: inline-flex; align-items: center;
                   border-radius: 10px;
               border: 1px solid #7E7E7E;
               width: 260px;
               height: 30px;
               background-color: white;
               padding: 0 10px;">
                        <i style="margin-right: 6px; display: flex; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                                    fill="#7E7E7E" />
                            </svg>
                        </i>
                        <input type="text" [(ngModel)]="searchText" (keyup)="applyFilters()" placeholder="Search" style="border: none; outline: none; width: 100%;
                   font-size: 12px; background-color: transparent;" />
                    </div>
                </div>

            </div>
            <div class="table-wrapper1" style="top:30px;" *ngIf="showTable">
                <div c>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="delete">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="fixed-width-column"></mat-header-cell>
                            <mat-cell *matCellDef="let element" class="fixed-width-column">
                                <img src="assets/delete.svg" style="cursor: pointer; width: 24px; height: 22px;"
                                    (click)="deleteClick(element.invoiceCulture_id, element.invoiceType)" />
                            </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="edit">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="fixed-width-column"></mat-header-cell>
                            <mat-cell *matCellDef="let element" class="fixed-width-column">
                                <img src="assets/Icons/edit.svg" style="cursor: pointer; width: 24px; height: 22px;" />
                            </mat-cell>
                        </ng-container> -->

                        <!-- <ng-container matColumnDef="slNo">
                            <mat-header-cell *matHeaderCellDef>SNo</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.SNo }}</mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="companyCode">
                            <mat-header-cell *matHeaderCellDef>Company Code</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.company_Code }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="companyName">
                            <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.company_Name }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="CultureRef">
                            <mat-header-cell *matHeaderCellDef>Culture Ref No.</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.invoiceCul_Ref_No }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="InvoiceType">
                            <mat-header-cell *matHeaderCellDef>Invoice Type</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.invoiceType }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mapName">
                            <mat-header-cell *matHeaderCellDef>Map Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.map_Name }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <!-- Data Rows -->
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    </table>
                </div>
                <div *ngIf="dataSource.data.length===0" class="text-center p-4">
                    <p class="text-muted">No data to display</p>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                    style="border-top: 1px solid #ddd;"></mat-paginator>

            </div>
        </div>
    </div>
</div>
<div *ngIf="isAddclicked" class="popup-overlay" (keydown.escape)="closeclick()">
    <mat-card class="popup-card">
        <mat-card-header class="popup-header">
            <mat-card-title class="d-flex justify-content-center align-items-center">
                {{ isEditMode ? 'Edit Other Income Culture' : 'Add Other Income Culture' }}
            </mat-card-title>

            <button class="close-btn" matTooltip="Close" (click)="closeclick()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <form [formGroup]="addOtherIncome" novalidate>
                <!-- Row 1 -->
                <div class="row g-3 mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Company Code<span class="text-danger">*</span></label>
                        <companyall (companyEmit)="handleCompany($event)" formControlName="CompanyCode">
                        </companyall>
                        <div class="text-danger small" *ngIf="addOtherIncome.get('CompanyCode')?.touched 
                        && addOtherIncome.get('CompanyCode')?.hasError('required')">
                            companycode is required
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <label class="form-label">Invoice Ref No</label>
                        <input type="text" class="form-control" formControlName="InvoiceRefNo" />
                    </div> -->
                    <!-- <div class="col-md-4">
                        <label class="form-label">Company Name<span class="text-danger"></span></label>
                        <input type="text" class="form-control" formControlName="CompanyName" />
                    </div> -->
                    <!-- <div class="col-md-4">
                        <label class="form-label">Service Charge<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="ServiceCharge">
                            <option value="">-- Select --</option>
                            <option *ngFor="let sc of ServiceChargeOptions" [value]="sc.service_Charge_Master_Id">
                                {{ sc.service_Charge_Master_Name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="addOtherIncome.get('ServiceCharge')?.touched 
             && addOtherIncome.get('ServiceCharge')?.hasError('required')">
                            Service Charge is required
                        </div>
                    </div> -->
                <div class="col-md-4">
                        <label class="form-label">Map Name<span class="text-danger">*</span></label>
                        <mapname [selectedCompanyId]="selectedCC" (mapnameEmit)="handleMapNameEvent($event)"></mapname>
                        <!-- <select class="form-select" formControlName="MapName">
                            <option value="">-- Select --</option>
                            <option *ngFor="let f of financialYear" [value]="f.Financial_Year_Id">
                                {{f.Financial_Year}}
                            </option>
                        </select> -->
                        <div class="text-danger small" *ngIf="addOtherIncome.get('MapName')?.touched 
             && addOtherIncome.get('MapName')?.hasError('required')">
                            Map Name is required
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Location<span class="text-danger"></span></label>
                        <input type="text" class="form-control" formControlName="Location" />
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row g-3 mb-3">

                   
                    <div class="col-md-4">

                        <label class="form-label">Invoice Type<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="InvoiceType">
                            <option value="">-- Select --</option>
                            <option *ngFor="let t of InvoiceTypeList" [ngValue]="t">{{ t.invoiceType }}</option>
                        </select>
                        <div class="text-danger small" *ngIf="addOtherIncome.get('InvoiceType')?.touched 
             && addOtherIncome.get('InvoiceType')?.hasError('required')">
                            Invoice Type is required
                        </div>
                    </div>
                       <div class="col-md-4">
                        <label class="form-label">Invoice Category<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="InvoiceCategory">
                            <option value="">-- Select --</option>
                            <option *ngFor="let c of InvoiceCategoryList" [value]="c.geN_iID">
                                {{ c.geN_vDescription }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="addOtherIncome.get('InvoiceCategory')?.touched 
             && addOtherIncome.get('InvoiceCategory')?.hasError('required')">
                            Invoice Category is required
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">State<span class="text-danger">*</span></label>
                        <state formControlName="state" (stateEmit)="stateEvent($event)"></state>
                        <!-- <select class="form-select" formControlName="State">
                            <option value="">-- Select --</option>
                            <option *ngFor="let f of financialYear" [value]="f.Financial_Year_Id">
                                {{f.Financial_Year}}
                            </option>
                        </select> -->
                        <div class="text-danger small" *ngIf="addOtherIncome.get('state')?.touched 
             && addOtherIncome.get('state')?.hasError('required')">
                            State is required
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-3">

                 
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Type Of Invoice<span class="text-danger"></span></label>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="type-scroll" *ngIf="selectedCC > 0">
                            <div class="row">

                                <!-- AVAILABLE PAYCODES -->
                                <div class="col-md-6">
                                    <!-- <label>Default Paycodes</label> -->

                                    <input type="text" class="form-control form-control-sm mb-2"
                                        placeholder="Search Available Paycode" [formControl]="availableSearchInput">

                                    <div cdkDropList id="availableList" #availables="cdkDropList"
                                        [cdkDropListData]="filteredAvailableItems" [cdkDropListConnectedTo]="[selects]"
                                        (cdkDropListDropped)="drop($event)" class="drag-drop-list">

                                        <div class="drag-drop-box" *ngFor="let item of filteredAvailableItems" cdkDrag>
                                            {{ item.Paycode_Code }}
                                        </div>

                                    </div>
                                </div>

                                <!-- SELECTED PAYCODES -->
                                <div class="col-md-6">
                                    <!-- <label>Mapped Paycodes</label> -->

                                    <input type="text" class="form-control form-control-sm mb-2"
                                        placeholder="Search Mapped Paycode" [formControl]="selectedSearchInput">

                                    <div cdkDropList id="selectedList" #selects="cdkDropList"
                                        [cdkDropListData]="selectedDragItems" [cdkDropListConnectedTo]="[availables]"
                                        (cdkDropListDropped)="drop($event)" class="drag-drop-list">

                                        <div class="drag-drop-box-selected" *ngFor="let item of filteredSelectedItems"
                                            cdkDrag>
                                            {{ item.Paycode_Code }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>

            <!-- <mat-card-footer class="footer"> -->

            <!-- </mat-card-footer> -->
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end mt-3" style="gap: 10px; padding-right: 8px;">\
            <div class="d-flex justify-content-end mt-3">
                <div class="btn-1"
                    style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                    <button type="button" (click)="closeclick()"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0; color: black;">
                        Cancel
                    </button>

                    <button type="button" (click)="SaveData()"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white;">
                        Save
                    </button>

                </div>
            </div>
            <!-- <button type="Cancel" (click)="closeclick()">Cancel</button>
            <button type="submit" (click)="SaveData()">Save</button> -->
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>