<form autocomplete="off">
    <mat-card class="custom-card">
        <mat-card-header class="sticky-header"> <mat-card-title>Break detail
                </mat-card-title>
            <span class="spacer"></span>
            <!-- <button mat-icon-button type="button" class="no-border-icon">
                <mat-icon>close</mat-icon>
            </button> --></mat-card-header>
        <mat-card-content class="scroll-content">
            <app-break></app-break>
        </mat-card-content>
      
    </mat-card>
</form>
