   <div class="container-fluid">
   
   <div class="gst-header">
        <div class="row align-items-end py-2">
            <div class="headergst">
                <div class="leftside gst-title">Invoice Cancellation</div>
            </div>
        </div>
        <div class="gst-actions">
            <div class="top-actions action-row">
                <div >
                <input placeholder="Search"
       (keyup)="applyGlobalFilter($event)"  class="global-search" />
       </div>
                <div >
                    <label style="position: relative; display: inline-block;">
<select [(ngModel)]="selectedTemplate"
        (change)="onTemplateChange()"
        class="select-drop">

  <option *ngFor="let item of TemplateOptions"
          [value]="item.value">
    {{ item.Text }}
  </option>

</select>
                        <i
                            style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                fill="none">

                                <path
                                    d="M1.5 2.5C1.22386 2.5 1 2.72386 1 3C1 3.27614 1.22386 3.5 1.5 3.5H10.5C10.7761 3.5 11 3.27614 11 3C11 2.72386 10.7761 2.5 10.5 2.5H1.5Z"
                                    fill="#7E7E7E" />

                                <path
                                    d="M3.5 5.5C3.22386 5.5 3 5.72386 3 6C3 6.27614 3.22386 6.5 3.5 6.5H8.5C8.77614 6.5 9 6.27614 9 6C9 5.72386 8.77614 5.5 8.5 5.5H3.5Z"
                                    fill="#7E7E7E" />

                                <path
                                    d="M5.5 8.5C5.22386 8.5 5 8.72386 5 9C5 9.27614 5.22386 9.5 5.5 9.5H6.5C6.77614 9.5 7 9.27614 7 9C7 8.72386 6.77614 8.5 6.5 8.5H5.5Z"
                                    fill="#7E7E7E" />
                            </svg>

                        </i>
                    </label>
                </div>
                <div style="display: inline-block; margin-right: 10px;">
                    <label style="position: relative; display: inline-block;">
                        <button (click)="BulkDownload()" class="select-drop3">
                            Bulk Download
                        </button>
                        <i
                            style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                                fill="none">
                                <path
                                    d="M6.5 1C6.5 0.723858 6.27614 0.5 6 0.5C5.72386 0.5 5.5 0.723858 5.5 1V6.79289L4.35355 5.64645C4.15829 5.45118 3.84171 5.45118 3.64645 5.64645C3.45118 5.84171 3.45118 6.15829 3.64645 6.35355L5.64609 8.3532C5.6473 8.3544 5.64851 8.35561 5.64973 8.3568C5.6969 8.40313 5.75098 8.43822 5.80861 8.46206C5.86713 8.48633 5.93125 8.4998 5.9985 8.5L6 8.5L6.0015 8.5C6.13732 8.4996 6.26039 8.44505 6.35027 8.3568C6.35149 8.35561 6.3527 8.3544 6.35391 8.3532L8.35355 6.35355C8.54882 6.15829 8.54882 5.84171 8.35355 5.64645C8.15829 5.45118 7.84171 5.45118 7.64645 5.64645L6.5 6.79289V1Z"
                                    fill="#7E7E7E" />
                                <path
                                    d="M1.5 8C1.77614 8 2 8.22386 2 8.5V10C2 10.2761 2.22386 10.5 2.5 10.5H9.5C9.77614 10.5 10 10.2761 10 10V8.5C10 8.22386 10.2239 8 10.5 8C10.7761 8 11 8.22386 11 8.5V10C11 10.8284 10.3284 11.5 9.5 11.5H2.5C1.67157 11.5 1 10.8284 1 10V8.5C1 8.22386 1.22386 8 1.5 8Z"
                                    fill="#7E7E7E" />
                            </svg>
                        </i>
                    </label>
                </div>
                <div > 
              <button (click)="invoiceApprove()"
        style="width: 120px; height: 30px; color: white;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
        <div
          style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
          Approve</div>
      </button>
      </div>
      <div > 
      <button (click)="invoiceReject()"
        style="width: 100px; height: 30px; color: white;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
        <div
          style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
          Reject</div>
      </button>
     </div>
     <div style="display: inline-block; margin-right: 10px;"> 
      <input placeholder="Remarks" type="text" [(ngModel)]="remarkText" />
    </div>
            </div>
        </div>
        <div class="gst-legend">
            <div class="legend-container">
                <div class="legend-item" *ngFor="let it of legendItems">
                    <span class="legend-box" [style.backgroundColor]="it.color"></span>
                    {{ it.label }}
                </div>
            </div>

        </div>
        <div class="gst-legend-row">
            <div class="legend-irn-container">
                <div class="legend-b2b left" *ngFor="let it of IrnTypeItems">
                    <span class="legend-boxb2b" [style.backgroundColor]="it.color"></span>
                    {{ it.label }}
                </div>
               
            </div>
        </div>
    </div>
    
    <div class="row align-items-end py-2">
        <div class="table-wrapper">
            <div class="table-scroll">
                <!-- <div class="card-body rounded-2"> -->
                <table mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef class="fixed-width-column">
                            <mat-checkbox (change)="toggleAllRows()" [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="isPartialSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="fixed-width-column">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(element)"
                                [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="pdfdownload">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column">Pdf</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="fixed-width-column">
                            <img src="assets/download_enabled.svg"
                                (click)="DownloadInvoice(element.invoice_Id, element.invoice_Number,element.creditNoteNumber)"
                                matTooltip="Pdf Download" matTooltipPosition="above"
                                style="cursor: pointer; width: 24px; height: 22px; max-width: 100px;" />
                            <!-- <img *ngIf="!element.IRN_Number && !element.BatchFile" src="assets/Icons/download_disabled.svg"
                                    style="cursor: pointer; width: 24px; height: 22px;" />
                                <img *ngIf="!element.IRN_Number && element.BatchFile" src="data:image/gif;base64,R0lGODlhGAASAPQAAP///wAAAMzMzICAgP//AP8AAP/MAP/MzP8zM////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAYABIAAAWRICCOZGmeaKqubOtCzPcCzPdFADs="
                                   mat-tooltip="Processing" width="24px;" height="22px;" /> -->
                        </mat-cell>
                    </ng-container>
 <ng-container matColumnDef="docDownload">
          <th mat-header-cell *matHeaderCellDef style="width: 100px;  align-items:center;">Cancel Doc</th>
          <td mat-cell *matCellDef="let element" style="width: 100px; align-items:center;">
            <img
              [src]="element.filePath ? 'assets/icons/download_enabled_green.svg' : 'assets/icons/download_disabled.svg'"
              [style.cursor]="element.filePath ? 'pointer' : 'not-allowed'"
              (click)="element.filePath && Downloadfile(element.invoice_Id)" style="width: 24px; height: 22px;" />
          </td>
        </ng-container>
                    
                    <ng-container matColumnDef="invoice_Number">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Invoice Number</span>
          
            </div>
          </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="fixed-width-column4"><span [ngStyle]="{
                                            'background-color': element.invoice_Color,
                                            'border-radius': '6px',
                                            'border': '1px solid #222',
                                            'color': 'white',
                                            'height': '22px',
                                            'width': '100px',
                                            'display': 'inline-flex',
                                            'align-items': 'center',
                                            'justify-content': 'center',
                                            'white-space': 'nowrap',
                                            'overflow': 'hidden',
                                            'text-overflow': 'ellipsis'
                                        }" [title]="element.invoice_Category">
                                {{ element.invoice_Number }}
                            </span></mat-cell>
                    </ng-container>

                     <!-- INVOICE DATE -->
        <ng-container matColumnDef="invoice_Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Invoice Date</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.invoice_Date | date:'dd MMM yyyy' }}
          </mat-cell>
        </ng-container>
          <ng-container matColumnDef="irN_Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>IRN Status</span>
            </div>
          </mat-header-cell>
           <mat-cell *matCellDef="let element" class="fixed-width-column2">

                            <div style="display: flex; align-items: center;">

                                <!-- Color Box -->
                                <!-- 'legend-processing': element.IRN_Status === 'Processing',-->
                                <span class="legend-box" [ngClass]="{
                        'legend-pending': element.irN_Status === 'Pending',
                        'legend-requested': element.irN_Status === 'Requested' || element.crn_IRN_Status === 'Processing',
                        'legend-generated': element.irN_Status === 'Generated',
                        'legend-rejected': element.irN_Status === 'Rejected'                  
                    }" [title]="element.irN_Status"></span>

                                <!-- Status Text -->
                                <span matTooltip="{{ element.irN_Status }}"
                                    style="white-space: nowrap; max-width: 140px; overflow: hidden; text-overflow: ellipsis;">

                                </span>
                            </div>
                         
                        </mat-cell>
        </ng-container>
          <ng-container matColumnDef="company_Code">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Company Code</span>
             
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.company_Code }}
          </mat-cell>
        </ng-container>

         <ng-container matColumnDef="pay_Period">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Pay Period</span>
              
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.pay_Period }}
          </mat-cell>
        </ng-container>

        <!-- MAP NAME -->
        <ng-container matColumnDef="map_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Map Name</span>
              
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.map_Name }}
          </mat-cell>
        </ng-container>
      <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount (₹)</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.amount }}</mat-cell>
        </ng-container>

        <!-- CGST -->
        <ng-container matColumnDef="cgsT_Amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>CGST (₹)</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.cgsT_Amount }}</mat-cell>
        </ng-container>

        <!-- SGST -->
        <ng-container matColumnDef="sgsT_Amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>SGST (₹)</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.sgsT_Amount }}</mat-cell>
        </ng-container>

        <!-- IGST -->
        <ng-container matColumnDef="igsT_Amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>IGST (₹)</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.igsT_Amount }}</mat-cell>
        </ng-container>

        <!-- NET AMOUNT -->
        <ng-container matColumnDef="net_Amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Net Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.net_Amount }}</mat-cell>
        </ng-container>

        <!-- CREDIT NOTE STATUS -->
        <ng-container matColumnDef="creditNote_Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Credit Note Status</span>
            
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.creditNote_Status }}</mat-cell>
        </ng-container>

        <!-- CREDIT NOTE NUMBER -->
        <ng-container matColumnDef="creditNoteNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="header-with-filter">
              <span>Credit Note</span>
              
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.creditNoteNumber }}</mat-cell>
        </ng-container>

        <!-- CANCELLED DATE -->
        <ng-container matColumnDef="cancelledOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cancelled Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.cancelledOn | date:'dd MMM yyyy' }}</mat-cell>
        </ng-container>

                    <ng-container matColumnDef="crn_IRN_Status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column2">CRN IRN Status
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element" class="fixed-width-column2">

                            <div style="display: flex; align-items: center;">

                                <!-- Color Box -->
                                <!-- 'legend-processing': element.IRN_Status === 'Processing',-->
                                <span class="legend-box" [ngClass]="{
                        'legend-pending': element.crn_IRN_Status === 'Pending',
                        'legend-requested': element.crn_IRN_Status === 'Requested' || element.crn_IRN_Status === 'Processing',
                        'legend-generated': element.crn_IRN_Status === 'Generated',
                        'legend-rejected': element.crn_IRN_Status === 'Rejected'                  
                    }" [title]="element.crn_IRN_Status"></span>

                                <!-- Status Text -->
                                <span matTooltip="{{ element.crn_IRN_Status }}"
                                    style="white-space: nowrap; max-width: 140px; overflow: hidden; text-overflow: ellipsis;">

                                </span>
                            </div>
                            <div class="hover-panel" *ngIf="showPanel">
                                <table class="table-borderless" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left; padding:5px; border-right: 1px solid white;">
                                                Error
                                                Code</th>
                                            <th style="text-align: left; padding:5px;">Error Msg</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of gridData">
                                            <td style="text-align: left; padding:5px; border-right: 1px solid white;">
                                                {{item.Error_Code}}</td>
                                            <td style="text-align: left; padding:5px;">{{item.Error_Message}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button
                                *ngIf="(element.crn_IRN_Status === 'Rejected' || !element.crn_IRN_Status) && element.HasError"
                                class="alert-error-btn hover-target" (click)="downloadError(element)"
                                (mouseenter)="onMouseEnter(element)" (mouseleave)="showPanel = false">
                                ⚠
                            </button>
                        </mat-cell>
                    </ng-container>
                   <ng-container matColumnDef="crn_IRN_Number">
          <mat-header-cell *matHeaderCellDef mat-sort-header>CRN IRN Number</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.crn_IRN_Number }}</mat-cell>
        </ng-container>
         <ng-container matColumnDef="remarks">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.remarks }}</mat-cell>
        </ng-container>
         <ng-container matColumnDef="reRaiseInvoice">
           <mat-header-cell *matHeaderCellDef mat-sort-header>Re-Raise Invoice</mat-header-cell>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Re-RaiseInvoice</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.reRaiseInvoice }}</mat-cell>
        </ng-container>
                    <!-- Header and Row Declaration -->
                    <mat-header-row *matHeaderRowDef="displayedColumns" sticky></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
            </div>
            <!-- </div> -->

            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons style="border: 1px solid #ddd;">
            </mat-paginator>
        </div>
    </div>
        
</div>
  <!-- LOADING OVERLAY -->
  <div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading..." />
  </div>
  <div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
      (close)="showPopup = false"></app-alertpopup>
  </div>
