<div class="headerSOP">
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/reimbrusement/reimbursement']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Reimbursement
                    </a>
                </li>
                <!-- <li><a [routerLink]="['/Master/process/reimbrusmentcalendar']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Reimbrusment Calendar</a></li> -->
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>