<div class="container-fluid">
    <div class="login-screen">
        <div class="background-image-container col-12 col-md-12 mx-auto" style="margin-right: 5px;">
            <img class="background-image-icon  p-3" alt="Responsive image" src="../../../assets/background.png">
        </div>
        <div class="col-md-5 offset-md-7">
            <div class="card" style="margin-top: 90px;">
                <div class="inner-card-padding">
                    <div class="top-card-frame p-1 d-flex align-items-left gap-3">
                        <div class="q-logo">
                            <img class="q-logo-item" alt="logo" src="../../../assets/Logo container.svg">
                        </div>
                        <div class="header-text">
                            <b class="get-started">Get Started</b>
                            <div class="welcome-to-qpay">Welcome to PSD</div>
                        </div>
                    </div>

                    <div class="employee-and-password-fram">
                        <div class="frame-parent">
                            <div class="frame-group">
                                <div class="text-parent">

                                    <div class="mb-3">
                                        <label class="form-label"><b>Employee ID*</b></label>
                                        <input type="text" class="form-control" [(ngModel)]="username"
                                            (keypress)="numberOnly($event)" maxlength="10">
                                    </div>


                                    <div class="mb-3 position-relative">
                                        <label class="form-label"><b>Password*</b></label>
                                        <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                                            [(ngModel)]="password">
                                        <img class="eye-icon" (click)="togglePassword()"
                                            [src]="isPasswordVisible ? '../../../assets/eye-open.svg' : '../../../assets/eye.svg'"
                                            alt="toggle password">
                                    </div>
                                </div>
                                <div class="text-end mb-3">
                                    <a href="#" style="font-size: 0.8em;" class="text-decoration-none text-primary">Forgot Password?</a>
                                </div>
                                <div class="button p-1">
                                    <button style="color: white;background-color:#302cb3 ;font-size: 16px; font-family: Nunito Sans;" class="sign-in btn" (click)="validateLogin()">Sign In</button>
                                </div>
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card p-4">
        <div class="inner-card-padding">
            <div class="top-card-frame p-2">
                <div class="q-logo">
                    <div class="q-logo-child">
                    </div>
                    
                </div>
                <div class="header-text">
                    <b class="get-started">Get Started</b>
                    <div class="welcome-to-qpay">Welcome to PSD</div>
                </div>
            </div>
            <div class="employee-and-password-fram">
                <div class="frame-parent">
                    <div class="frame-group">
                        <div class="text-parent">
                            <div class="text">
                                <div class="docs-h6">
                                    <b class="employee-id">Employee ID*</b>
                                </div>
                                <div class="text-inner" id="frameContainer">
                                    <div class="frame-child">
                                        <input type="text" class="form-control" [(ngModel)]="username"  (keypress)="numberOnly($event)" maxlength="10" OnlyNumber="true">
                                    </div>
                                </div>
                            </div>
                            <div class="text1">
                                <div class="docs-h61">
                                    <b class="employee-id">Password*</b>
                                </div>
                                <div class="text-child">
                                    <div class="frame-child">
                                        <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" [(ngModel)]="password" >
                                    </div>
                                </div>
                            </div>
                            <img class="eye-icon" (click)="togglePassword()" alt="" [src]="isPasswordVisible ? '../../../assets/eye-open.svg' : '../../../assets/eye.svg'">
                        </div>
                        <div class="forgot-password">Forgot Password ?</div>
                    </div>
                    <div class="button">    
                        <button class="sign-in btn" style="color: white;" (click)="validateLogin()" >Sign In</button> 
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        <!-- <div class="quess-logo">
        <div class="copyright-2024-quess-container">
            <span>
                <span class="copyright-2024">Copyright © 2024 </span>
                <span class="quess-corp">
                    <span class="quess-corp1">Quess Corp</span>
                </span>
                <span>
                    <span class="quess-corp">.</span> All rights reserved.
                </span>
            </span>
        </div>
        <div class="quess-logo1">
            <div class="group">
                <img class="group-icon" alt="" src="../../../assets/Quess logo (1).svg">
            </div>
        </div>
    </div> -->
    </div>
</div>
<div class="position-relative">
    <div class="col-md-3 image-overlay mb-4 py-10">
        <div class="bottom-overlay" style="margin-left: 0.5em;top:50%">
            <img class="img-fluid"  alt="Responsive image" src="../../../assets/Quess logo (1).svg">
            <p>
                <span>
                    <span class="copyright-2024" style="color: black;font-size: 0.5em;">Copyright © 2024 </span>
                    <span class="quess-corp" style="color: black;font-size: 0.5em;">
                        <span class="quess-corp1" style="color: black;font-size: 1em;">Quess Corp</span>
                    </span>
                    <span>
                        <span class="quess-corp" style="color: black;font-size: 0.5em;">. All rights reserved.</span> 
                    </span>
                </span>
            </p>
        </div>
    </div>
</div>