<div class="page-wrapper">
    <div class="scrollable-content">
        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">
            Full and Final Settlement
        </div>

        <div class="container py-2">
            <div class="row g-3 align-items-end">

                <div class="col-md-3">
                    <label for="companySelect" class="form-label text-muted small">Company Code<span
                            style="color: red;">*</span></label>
                    <companyall id="companySelect" (companyEmit)="handleCompanyEvent($event)"></companyall>
                </div>


                <div class="col-md-3">
                    <label class="form-label text-muted small">Employee Code</label>
                    <select class="form-select form-select-sm">
                        <option>Select</option>
                    </select>
                </div>

                <div class="col-md-3 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onSearchClick()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-success btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="Add" (click)="AddPOOpen()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                        matTooltip="ExportToExcel">
                        <mat-icon>download</mat-icon>
                    </button>
                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                        matTooltip="Template">
                        <mat-icon>cloud_download</mat-icon>
                    </button> -->
                    <!-- Upload Button -->
                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                        matTooltip="Upload">
                        <mat-icon>cloud_upload</mat-icon>
                    </button> -->

                    <!-- <input type="file" #fileInput style="display: none;" accept=".xlsx,.xls"
                        (change)="onFileChange($event)" /> -->
                </div>

            </div>

            <div class="table-container" style="top:30px;" *ngIf="showTable">
                <div class="table-scroll-window">

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                        <!-- Delete -->
                        <ng-container matColumnDef="delete">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img src="assets/delete.svg" style="cursor:pointer;width:24px;height:22px" />
                            </mat-cell>
                        </ng-container>

                        <!-- Edit -->
                        <ng-container matColumnDef="edit">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img src="assets/Icons/edit.svg" style="cursor:pointer;width:24px;height:22px" />
                            </mat-cell>
                        </ng-container>

                        <!-- SNo -->
                        <ng-container matColumnDef="SNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>S No</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.SNo }}</mat-cell>
                        </ng-container>

                        <!-- Company Code -->
                        <ng-container matColumnDef="CompanyCode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.CompanyCode }}</mat-cell>
                        </ng-container>

                        <!-- Employee Code -->
                        <ng-container matColumnDef="EmployeeCode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Code</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.EmployeeCode }}</mat-cell>
                        </ng-container>

                        <!-- Employee Name -->
                        <ng-container matColumnDef="EmployeeName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.EmployeeName }}</mat-cell>
                        </ng-container>

                        <!-- Pay Period -->
                        <ng-container matColumnDef="PayPeriod">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Pay Period</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.PayPeriod }}</mat-cell>
                        </ng-container>

                        <!-- Header & Row -->
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    </table>


                </div>

                <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
            </div>

        </div>

    </div>
</div>

<br><br><br><br><br><br>

<div *ngIf="isAddclicked" class="popup-overlay" (keydown.escape)="closeclick()">
    <mat-card class="popup-card">

        <!-- HEADER -->
        <mat-card-header class="popup-header">
            <mat-card-title class="d-flex justify-content-center align-items-center">
                {{ isEditMode ? 'Edit Full And Final Settlement' : 'Add Full And Final Settlement' }}
            </mat-card-title>

            <button class="close-btn" matTooltip="Close" (click)="closeclick()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>

        <!-- CONTENT -->
        <mat-card-content class="scroll-content">

            <!-- TOP FORM -->
            <form [formGroup]="LoanPreForm">
                <div class="row g-3 align-items-end">

                    <!-- Company Code -->
                    <div class="col-md-4">
                        <label class="form-label text-muted small">
                            Company Code <span class="text-danger">*</span>
                        </label>

                        <companyall class="w-100" formControlName="Company_Code"
                            (companyEmit)="handleCompanyEvent2($event)">
                        </companyall>

                        <div *ngIf="LoanPreForm.get('Company_Code')?.touched &&
                                    LoanPreForm.get('Company_Code')?.hasError('required')"
                            class="text-danger small mt-1">
                            Company Code is required
                        </div>
                    </div>

                    <!-- PreClosure Date -->
                    <div class="col-md-4">
                        <label class="form-label text-muted small">
                            PreClosure Date <span class="text-danger">*</span>
                        </label>

                        <input type="date" class="form-control" formControlName="PreClosure_Date">

                        <div *ngIf="LoanPreForm.get('PreClosure_Date')?.touched &&
                                    LoanPreForm.get('PreClosure_Date')?.hasError('required')"
                            class="text-danger small mt-1">
                            PreClosure Date is required
                        </div>
                    </div>

                    <!-- Employee Code -->
                    <div class="col-md-4">
                        <label class="form-label text-muted small">
                            Employee Code <span class="text-danger">*</span>
                        </label>

                        <select formControlName="Employee_Code" class="form-control">
                            <option value="">Select</option>
                        </select>

                        <div *ngIf="LoanPreForm.get('Employee_Code')?.touched &&
                                    LoanPreForm.get('Employee_Code')?.hasError('required')"
                            class="text-danger small mt-1">
                            Employee Code is required
                        </div>
                    </div>

                </div>
            </form>

            <!-- TABS -->
            <div class="full-tabs mt-3">
                <div class="full-tab" [class.active]="activeTab === 'FINAL'" (click)="activeTab = 'FINAL'">
                    Final Settlement
                </div>

                <div class="full-tab" [class.active]="activeTab === 'OTHER'" (click)="activeTab = 'OTHER'">
                    Other Details
                </div>
            </div>



            <!-- TAB CONTENT -->
            <div class="tab-content mt-3">

                <!-- FINAL SETTLEMENT TAB -->
                <ng-container *ngIf="activeTab === 'FINAL'">

                    <div class="col-md-3 d-flex gap-2 py-2">
                        <!-- Delete -->
                        <div class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Delete"
                            (click)="deleteRow()">
                            <img src="assets/delete.svg" style="cursor: pointer; width: 24px; height: 22px;" />
                        </div>

                        <!-- Add -->
                        <div class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                            (click)="addRow()">
                            <mat-icon>add</mat-icon>
                        </div>
                    </div>

                    <div class="table-container" style="top:10px;">

                        <div class="table-scroll-window">
                            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

                                <!-- SNo -->
                                <ng-container matColumnDef="SNo">
                                    <mat-header-cell *matHeaderCellDef>Sl No</mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index">
                                        {{ i + 1 }}
                                    </mat-cell>
                                </ng-container>

                                <!-- Pay Code -->
                                <ng-container matColumnDef="PayCode">
                                    <mat-header-cell *matHeaderCellDef>Pay Code</mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="form-control">
                                        <input class="form-control" [(ngModel)]="element.PayCode">
                                    </mat-cell>
                                </ng-container>

                                <!-- Pay Description -->
                                <ng-container matColumnDef="PayDescription">
                                    <mat-header-cell *matHeaderCellDef>Pay Description</mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="form-control">
                                        <input class="form-control" [(ngModel)]="element.PayDescription">
                                    </mat-cell>
                                </ng-container>

                                <!-- Type -->
                                <ng-container matColumnDef="Type">
                                    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="form-control">
                                        <select class="form-control" [(ngModel)]="element.Type">
                                            <option value="Earning">Earning</option>
                                            <option value="Deduction">Deduction</option>
                                        </select>
                                    </mat-cell>
                                </ng-container>

                                <!-- Amount -->
                                <ng-container matColumnDef="Amount">
                                    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="form-control">
                                        <input type="number" class="form-control text-end" [(ngModel)]="element.Amount">
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                                <mat-row *matRowDef="let row; let i = index; columns: displayedColumns1;"
                                    (click)="selectRow(i)" [class.selected-row]="selectedRowIndex === i">
                                </mat-row>
                            </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
                    </div>

                </ng-container>

                <!-- OTHER DETAILS TAB -->
                <ng-container *ngIf="activeTab === 'OTHER'">

                    <div class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label small">LOP Recovery</label>
                            <input class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Notice Pay Salary</label>
                            <input class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Paid Leave</label>
                            <input class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Notice Pay Recovery</label>
                            <input class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Recovered Days</label>
                            <input class="form-control">
                        </div>
                    </div>

                </ng-container>

            </div>

        </mat-card-content>

        <!-- FOOTER -->
        <div class="d-flex justify-content-end mt-3" style="gap: 15px; padding-right: 20px; padding-bottom: 15px;">

            <button type="button" style="border:none;border-radius:7px;width:80px;height:30px;
                           background-color:#f0f0f0;color:black;" (click)="closeclick()">
                Cancel
            </button>

            <button type="button" style="border:none;border-radius:7px;width:80px;height:30px;
                           background-color:blue;color:white;">
                {{ isEditMode ? 'Update' : 'Save' }}
            </button>

        </div>

    </mat-card>
</div>