<div class="container-fluid">
    <div style="display:flex; float:right; margin-right: 25px; gap:10px; margin-top:15px;">
        <div style="display: inline-block; margin-right: 10px;">
            <label style="position: relative; display: inline-block;">
                <select [(ngModel)]="selectedTemplate" (change)="onTemplateChange()" class="select-drop">
                    <option value="" disabled selected hidden>Filter</option>
                    <option *ngFor="let item of TemplateOptions" [value]="item.value">{{ item.Text }}</option>
                </select>
                <i
                    style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path
                            d="M1.5 2.5C1.22386 2.5 1 2.72386 1 3C1 3.27614 1.22386 3.5 1.5 3.5H10.5C10.7761 3.5 11 3.27614 11 3C11 2.72386 10.7761 2.5 10.5 2.5H1.5Z"
                            fill="#7E7E7E" />
                        <path
                            d="M3.5 5.5C3.22386 5.5 3 5.72386 3 6C3 6.27614 3.22386 6.5 3.5 6.5H8.5C8.77614 6.5 9 6.27614 9 6C9 5.72386 8.77614 5.5 8.5 5.5H3.5Z"
                            fill="#7E7E7E" />
                        <path
                            d="M5.5 8.5C5.22386 8.5 5 8.72386 5 9C5 9.27614 5.22386 9.5 5.5 9.5H6.5C6.77614 9.5 7 9.27614 7 9C7 8.72386 6.77614 8.5 6.5 8.5H5.5Z"
                            fill="#7E7E7E" />
                    </svg>

                </i>
            </label>
        </div>
        <button (click)="Invoiceintiate()" [disabled]="isdisabled"
            style="width: 100px; height: 35px; color: white;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
            <div
                style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                Initiate</div>
        </button>
        <button (click)="InitiationSearchExport()" [disabled]="isdisabled"
            style="width: 150px; height: 35px; color: white;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
            <div
                style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                Pay Register</div>
        </button>
        <button (click)="ExportGridData()"
            style="width: 100px; height: 35px; color: white;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
            <div
                style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                Export</div>
        </button>
        <!-- <button style="display: inline-block;" (click)="Invoiceintiate()" [disabled]="isdisabled"
            class="btn btn-primary btn-sm d-flex align-items-center">Initiate</button>

        <button style="display: inline-block;" (click)="InitiationSearchExport()"
            class="btn btn-primary btn-sm d-flex align-items-center">Export</button> -->
    </div>

</div>




<div class="table-container">
    <!-- <div class="card-body rounded-2">
        <table mat-table [dataSource]="dataSource" class="custom-table mat-elevation-z8 custom-table">
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">

                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;"></th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">
                    <img src="assets/download_enabled.svg" (click)="RequestEmployeeDownload(element)"
                        matTooltip="Pdf Download" matTooltipPosition="above"
                        style="cursor: pointer; width: 24px; height: 22px; max-width: 100px;" />
                </td>
            </ng-container>
            <ng-container matColumnDef="serial_No">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">Sl No </th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.serial_No }}</td>
            </ng-container>
            <ng-container matColumnDef="invoiceType">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">Invoice Type</th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.invoiceType === 'Proforma' ?
                    'Draft' : element.invoiceType }}</td>
            </ng-container>
            
            <ng-container matColumnDef="Req_No">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">Request No</th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.req_No }}</td>
            </ng-container>
            <ng-container matColumnDef="invoice_remarks">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">Invoice Remarks</th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.invoice_remarks }}</td>
            </ng-container>
            <ng-container matColumnDef="company_Code">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Company Code </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.company_Code }}</td>
            </ng-container>
            <ng-container matColumnDef="company_Id">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Company_Id </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.company_Id }}</td>
            </ng-container>

            <ng-container matColumnDef="pay_Period_Id">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> pay_Period_Id </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.pay_Period_Id }}</td>
            </ng-container>
            <ng-container matColumnDef="pay_Period">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> pay_Period </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.pay_Period }}</td>
            </ng-container>

            <ng-container matColumnDef="map_name">
                <th mat-header-cell *matHeaderCellDef style="width: 180px;"> Map Name </th>
                <td mat-cell *matCellDef="let element" style="width: 180px;">{{ element.map_name }}</td>
            </ng-container>
            <ng-container matColumnDef="map_Name_Id">
                <th mat-header-cell *matHeaderCellDef style="width: 180px;"> map_Name_Id </th>
                <td mat-cell *matCellDef="let element" style="width: 180px;">{{ element.map_Name_Id }}</td>
            </ng-container>
            <ng-container matColumnDef="lotNo">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Lot No. </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.lotNo }}</td>
            </ng-container>

            <ng-container matColumnDef="net_CTC">
                <th mat-header-cell *matHeaderCellDef> Net CTC </th>
                <td mat-cell *matCellDef="let element">{{ element.net_CTC }}</td>
            </ng-container>
            <ng-container matColumnDef="netPay">
                <th mat-header-cell *matHeaderCellDef> Net Pay</th>
                <td mat-cell *matCellDef="let element">{{ element.netPay }}</td>
            </ng-container>
            <ng-container matColumnDef="input_No">
                <th mat-header-cell *matHeaderCellDef> Input No. </th>
                <td mat-cell *matCellDef="let element">{{ element.input_No }}</td>
            </ng-container>
            <ng-container matColumnDef="pO_Number">
                <th mat-header-cell *matHeaderCellDef> PO Number </th>
                <td mat-cell *matCellDef="let element">{{ element.pO_Number }}</td>
            </ng-container>
            <ng-container matColumnDef="employee_Head_Count">
                <th mat-header-cell *matHeaderCellDef> Head Count </th>
                <td mat-cell *matCellDef="let element">{{ element.employee_Head_Count }}</td>
            </ng-container>
            <ng-container matColumnDef="service_Charge">
                <th mat-header-cell *matHeaderCellDef> Service Charge </th>
                <td mat-cell *matCellDef="let element">{{ element.service_Charge }}</td>
            </ng-container>
            <ng-container matColumnDef="serviceChargeAmount">
                <th mat-header-cell *matHeaderCellDef> Service Charge Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.serviceChargeAmount }}</td>
            </ng-container>
            <ng-container matColumnDef="service_Charge_Master">
                <th mat-header-cell *matHeaderCellDef> Service Charge Master </th>
                <td mat-cell *matCellDef="let element">{{ element.service_Charge_Master }}</td>
            </ng-container>
            <ng-container matColumnDef="service_Charge_Type">
                <th mat-header-cell *matHeaderCellDef>Service Charge Type</th>
                <td mat-cell *matCellDef="let element">{{ element.service_Charge_Type }}</td>
            </ng-container>
            <ng-container matColumnDef="bgvbl">
                <th mat-header-cell *matHeaderCellDef>BGV Billing </th>
                <td mat-cell *matCellDef="let element">{{ element.bgvbl }}</td>
            </ng-container>
            <ng-container matColumnDef="astfee">
                <th mat-header-cell *matHeaderCellDef> Assignment Fee </th>
                <td mat-cell *matCellDef="let element">{{ element.astfee }}</td>
            </ng-container>
            <ng-container matColumnDef="discT1">
                <th mat-header-cell *matHeaderCellDef> Discount1 </th>
                <td mat-cell *matCellDef="let element">{{ element.discT1 }}</td>
            </ng-container>
            <ng-container matColumnDef="discT2">
                <th mat-header-cell *matHeaderCellDef> Discount2 </th>
                <td mat-cell *matCellDef="let element">{{ element.discT2 }}</td>
            </ng-container>
            <ng-container matColumnDef="idcard">
                <th mat-header-cell *matHeaderCellDef> ID Card Billing </th>
                <td mat-cell *matCellDef="let element">{{ element.idcard }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email Id </th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>
            <ng-container matColumnDef="regfee">
                <th mat-header-cell *matHeaderCellDef> Registration Fee</th>
                <td mat-cell *matCellDef="let element">{{ element.regfee }}</td>
            </ng-container>
            <ng-container matColumnDef="trnfee">
                <th mat-header-cell *matHeaderCellDef> Trainer Fee </th>
                <td mat-cell *matCellDef="let element">{{ element.trnfee }}</td>
            </ng-container>
            <ng-container matColumnDef="ggdbt">
                <th mat-header-cell *matHeaderCellDef> Govt Grants DBT </th>
                <td mat-cell *matCellDef="let element">{{ element.ggdbt }}</td>
            </ng-container>
            <ng-container matColumnDef="ppekit">
                <th mat-header-cell *matHeaderCellDef> PPE Kit </th>
                <td mat-cell *matCellDef="let element">{{ element.ppekit }}</td>
            </ng-container>
            <ng-container matColumnDef="vmsfee">
                <th mat-header-cell *matHeaderCellDef>VMS Fee </th>
                <td mat-cell *matCellDef="let element">{{ element.vmsfee }}</td>
            </ng-container>
            <ng-container matColumnDef="edufee">
                <th mat-header-cell *matHeaderCellDef> Education Fee </th>
                <td mat-cell *matCellDef="let element">{{ element.edufee }}</td>
            </ng-container>
            <ng-container matColumnDef="ntpry">
                <th mat-header-cell *matHeaderCellDef> Notice Period Recovery </th>
                <td mat-cell *matCellDef="let element">{{ element.ntpry }}</td>
            </ng-container>
            <ng-container matColumnDef="renmac">
                <th mat-header-cell *matHeaderCellDef> Laptop Rental </th>
                <td mat-cell *matCellDef="let element">{{ element.renmac }}</td>
            </ng-container>
            <ng-container matColumnDef="draded">
                <th mat-header-cell *matHeaderCellDef> DRA Deduction </th>
                <td mat-cell *matCellDef="let element">{{ element.draded }}</td>
            </ng-container>
            <ng-container matColumnDef="othdd">
                <th mat-header-cell *matHeaderCellDef> Other Deduction </th>
                <td mat-cell *matCellDef="let element">{{ element.othdd }}</td>
            </ng-container>
            <ng-container matColumnDef="mbapp">
                <th mat-header-cell *matHeaderCellDef>Mobile Application Charge</th>
                <td mat-cell *matCellDef="let element">{{ element.mbapp }}</td>
            </ng-container>
            <ng-container matColumnDef="calcrg">
                <th mat-header-cell *matHeaderCellDef> Call Charge </th>
                <td mat-cell *matCellDef="let element">{{ element.calcrg }}</td>
            </ng-container>
            <ng-container matColumnDef="calrt">
                <th mat-header-cell *matHeaderCellDef> Call Rate</th>
                <td mat-cell *matCellDef="let element">{{ element.calrt }}</td>
            </ng-container>
            <ng-container matColumnDef="narration">
                <th mat-header-cell *matHeaderCellDef>Narration </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.narration }}</td>
            </ng-container>

            <ng-container matColumnDef="data_From">
                <th mat-header-cell *matHeaderCellDef>data_From</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.data_From }}</td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
        <mat-paginator class="mat-footer-paginator" #PeningLotPaginator [pageSizeOptions]="[5,10, 25, 100]"
            showFirstLastButtons></mat-paginator>
    </div> -->

    <ag-grid-angular class="ag-theme-quartz" [pagination]="true" [paginationPageSize]="100" [rowData]="DraftInvoiceData"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [domLayout]="'autoHeight'" [gridOptions]="gridOptions"
        [pagination]="true" [paginationPageSize]="pageSize" [paginationPageSizeSelector]="pageSizeOptions"
        (paginationChanged)="onPaginationChanged($event)" (gridReady)="onGridReady($event)">
    </ag-grid-angular>

</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif">
</div>

<div *ngFor="let chat of openChats; let i = index">

    <mat-card class="chat-window" [style.right.px]="20 + (i * 320)" (mouseenter)="keepChatOpen(chat.req_No)"
        (mouseleave)="closeChatDelayed(chat.req_No)">

        <!-- HEADER -->
        <div class="chat-header">
            <span>Invoie Remarks for Req No: {{ chat.req_No }}</span>
            <mat-icon (click)="closeChat(chat.req_No)">close</mat-icon>
        </div>

        <!-- BODY -->
        <div class="chat-body">

            <div *ngFor="let msg of chat.messages" class="chat-bubble">
                <div class="user">
                    {{ msg.givenBy }} • {{ msg.type }}
                </div>

                <div class="text">
                    {{ msg.message }}
                </div>

                <div class="time">
                    {{ msg.time }}
                </div>
            </div>

        </div>

    </mat-card>

</div>


<!-- <div *ngIf="isLoading" class="loader-overlay">
       <img src="../../../assets/Loading.gif">
    </div> -->