<div class="page-wrapper">
    <div class="scrollable-content">
        <mat-card-title class="main-header">
            Invoice Collection
        </mat-card-title>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Company Code</label>
                    <companyall (companyEmit)="handleCompany($event)"></companyall>
                </div>

                <div class="col-md-3">
                    <label class="form-label text-muted small">Company Name</label>
                    <input type="text" class="form-control" [(ngModel)]="companyName" />
                </div>

                <div class="col-md-3">
                    <label class="form-label text-muted small">Pay Period</label>
                    <PayPeriod [selectedCompanyId]="CompanyId" [payPeriodType]="payPeriodType"
                        (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
                </div>

                <div class="col-md-3">
                    <label class="form-label text-muted small">Upload Type</label>
                    <select class="form-select" [(ngModel)]="uploadType">
                        <option value="-1">-- Select --</option>
                        <option value="Insert">Insert</option>
                        <option value="Delete">Delete</option>
                        <option value="Disbursal">Disbursal</option>
                    </select>
                </div>

                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onSearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel" (click)="exportToExcel()">
                        <mat-icon>download</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                        matTooltip="Import" (click)="ImportClick(fileInput)">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                        matTooltip="Download Template" (click)="DownloadClientAdvancePaymentTemplate()">
                        <mat-icon>cloud_download</mat-icon>
                    </button>

                    <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                        (change)="onFileChange($event)" accept=".xlsx, .xls" />

                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                        matTooltip="Template">
                        <mat-icon>cloud_download</mat-icon>
                    </button> -->
                    <!-- future use -->
                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" matTooltip="Add"
                        (click)="addInvoiceCollectionOpen()" style="display: none;">
                        <mat-icon>add</mat-icon>
                    </button> -->
                    <!--  <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Template"
        (click)="DownloadTemplate()">
        <mat-icon>cloud_download</mat-icon>
      </button> -->
                    <!-- <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                        (change)="onFileChange($event)" accept=".xlsx, .xls" /> -->
                </div>

            </div>
            <div class="table-container" style="top:30px;" *ngIf="showTable">
                <div class="table-scroll-window">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                        <!-- future use -->
                        <!-- <ng-container matColumnDef="delete" style="display: none;">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="fixed-width-column"></mat-header-cell>
                            <mat-cell *matCellDef="let element" class="fixed-width-column">
                                <mat-icon>delete</mat-icon>
                            </mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="slNo">
                            <mat-header-cell *matHeaderCellDef>SNo</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.SNo }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="companyCode">
                            <mat-header-cell *matHeaderCellDef>Company Code</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Company_Code }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="companyName">
                            <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Company_Name }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payperiod">
                            <mat-header-cell *matHeaderCellDef>Pay Period</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Pay_Period }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="modeOfCollection">
                            <mat-header-cell *matHeaderCellDef>Mode of Collection</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Mode_Of_Collection  }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mapName">
                            <mat-header-cell *matHeaderCellDef>Map Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Map_Name }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="RefId">
                            <mat-header-cell *matHeaderCellDef>Ref Id</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Ref_Id }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="totalCollectionAmount">
                            <mat-header-cell *matHeaderCellDef>Total Collection Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Total_Collection_Amount }}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="totalTdsAmount">
                            <mat-header-cell *matHeaderCellDef>Total TDS Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Total_Tds_Amount }}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="totalDifferenceAmount">
                            <mat-header-cell *matHeaderCellDef>Total Difference Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Total_Difference_Amount }}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="userName">
                            <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.User_Name }}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="postedDate">
                            <mat-header-cell *matHeaderCellDef>Posted Date</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.Posted_Date }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                        <!-- Data Rows -->
                        <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                    </table>
                </div>
                <div *ngIf="dataSource.data.length===0" class="text-center p-4">
                    <p class="text-muted">No data to display</p>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                    style="border-top: 1px solid #ddd;"></mat-paginator>

            </div>
        </div>
    </div>
</div>

<div *ngIf="isAddclicked" class="popup-overlay" (keydown.escape)="closeclick()">
    <mat-card class="popup-card">
        <mat-card-header class="popup-header">
            <mat-card-title class="d-flex justify-content-center align-items-center">
                {{ isEditMode ? 'Edit Invoice Collection' : 'Add Invoice Collection' }}
            </mat-card-title>

            <button class="close-btn" matTooltip="Close" (click)="closeclick()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <form [formGroup]="addInvoiceCollection" novalidate>
                <!-- Row 1 -->
                <div class="row g-3 mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Company Code<span class="text-danger">*</span></label>
                        <companyall (companyEmit)="handleCompanyEvent($event)" formControlName="CompanyCode">
                        </companyall>
                        <div class="text-danger small" *ngIf="addInvoiceCollection.get('CompanyCode')?.touched 
             && addInvoiceCollection.get('CompanyCode')?.hasError('required')">
                            companycode is required
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Pay Period</label>
                        <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
                            formControlName="PayPeriod" (payperiodEmit)="handlePayperiod($event)"></PayPeriod>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Map Name<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="MapName">
                            <option value="">-- Select --</option>
                            <!-- <option *ngFor="let e of empCode" [value]="e.Employee_Id">
                                {{ e.Employee_code }}
                            </option> -->
                        </select>
                        <div class="text-danger small" *ngIf="addInvoiceCollection.get('MapName')?.touched 
             && addInvoiceCollection.get('MapName')?.hasError('required')">
                            MapName is required
                        </div>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row g-3 mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Reference Number<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="ReferenceNumber">
                            <option value="">-- Select --</option>
                            <!-- <option *ngFor="let e of empCode" [value]="e.Employee_Id">
                                {{ e.Employee_code }}
                            </option> -->
                        </select>
                        <div class="text-danger small" *ngIf="addInvoiceCollection.get('ReferenceNumber')?.touched 
             && addInvoiceCollection.get('ReferenceNumber')?.hasError('required')">
                            ReferenceNumber is required
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Mode of Collection<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="ModeOfCollection">
                            <option value="">-- Select --</option>
                            <!-- <option *ngFor="let e of empCode" [value]="e.Employee_Id">
                                {{ e.Employee_code }}
                            </option> -->
                        </select>
                        <div class="text-danger small" *ngIf="addInvoiceCollection.get('ModeOfCollection')?.touched 
             && addInvoiceCollection.get('ModeOfCollection')?.hasError('required')">
                            ModeOfCollection is required
                        </div>


                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                            style="margin-top: 30px;" matTooltip="Search">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="col-md-3 d-flex gap-2">
                    <button class="btn  btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white;">
                        Verify
                        <!-- <mat-icon>add</mat-icon> -->
                    </button>

                    <button class="btn  btn-sm d-flex align-items-center justify-content-center" matTooltip="Delete"
                        (click)="deleteSelectedRow()"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white;">
                        <!-- <mat-icon>delete</mat-icon> -->
                        Delete
                    </button>
                </div>
                <div class="mt-3">
                    <!-- Table wrapper for horizontal scroll -->
                    <div class="table-scroll-window">

                        <mat-table [dataSource]="uploadedDataSources" class="mat-elevation-z8">

                            <!-- checkbox -->

                            <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="toggleAllRows($event)" [checked]="isAllSelected()">
                                    </mat-checkbox>
                                </mat-header-cell>

                                <mat-cell *matCellDef="let row">
                                    <mat-checkbox [(ngModel)]="row.isSelected" (click)="$event.stopPropagation()">
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>

                            <!-- Sl No -->
                            <ng-container matColumnDef="slNo">
                                <mat-header-cell *matHeaderCellDef> Sl. No. </mat-header-cell>
                                <mat-cell *matCellDef="let row; columns: ['select','slNo','invoiceNo','netInvoiceAmount','invoiceAmount','TDS','TDSAmount','ReceivableAmount','CollectionAmount','roundOff','creditNoteNumber',
                                    'creditNoteAmount','creditNoteDate','depositBankName','collectionReceivedDate','chequeNumber','chequeDate','remarks'
                                    ]" [class.selected]="row.slNo === selectedRowSlNo"
                                    (click)="selectedRowSlNo = row.slNo">
                                    {{ row.slNo }}
                                </mat-cell>
                            </ng-container>

                            <!-- From Value -->
                            <!-- Actual Amount -->
                            <ng-container matColumnDef="invoiceNo">
                                <mat-header-cell *matHeaderCellDef> Invoice No. </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="text" class="form-control" [(ngModel)]="element.invoiceNo"
                                        [ngModelOptions]="{standalone: true}" name="invoiceNo{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <!-- Eligible Amount -->
                            <ng-container matColumnDef="netInvoiceAmount">
                                <mat-header-cell *matHeaderCellDef> Net Invoice Amount </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.netInvoiceAmount"
                                        [ngModelOptions]="{standalone: true}" name="netInvoiceAmount{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <!-- Claim Amount -->
                            <ng-container matColumnDef="invoiceAmount">
                                <mat-header-cell *matHeaderCellDef>Invoice Amount</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.invoiceAmount"
                                        [ngModelOptions]="{standalone: true}" name="invoiceAmount{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="TDS">
                                <mat-header-cell *matHeaderCellDef>TDS%</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.TDS"
                                        [ngModelOptions]="{standalone: true}" name="TDS{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="TDSAmount">
                                <mat-header-cell *matHeaderCellDef>TDS Amount</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.TDSAmount"
                                        [ngModelOptions]="{standalone: true}" name="TDSAmount{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="ReceivableAmount">
                                <mat-header-cell *matHeaderCellDef>Receivable Amount</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.ReceivableAmount"
                                        [ngModelOptions]="{standalone: true}" name="ReceivableAmount{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="CollectionAmount">
                                <mat-header-cell *matHeaderCellDef>Collection Amount</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.CollectionAmount"
                                        [ngModelOptions]="{standalone: true}" name="CollectionAmount{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="roundOff">
                                <mat-header-cell *matHeaderCellDef>Round Off Amount</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.roundOff"
                                        [ngModelOptions]="{standalone: true}" name="roundOff{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="creditNoteNumber">
                                <mat-header-cell *matHeaderCellDef>Credit Note Number</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="text" class="form-control" [(ngModel)]="element.creditNoteNumber"
                                        [ngModelOptions]="{standalone: true}" name="creditNoteNumber{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="creditNoteAmount">
                                <mat-header-cell *matHeaderCellDef>Credit Note Amount</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="number" class="form-control" [(ngModel)]="element.creditNoteAmount"
                                        [ngModelOptions]="{standalone: true}" name="creditNoteAmount{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="creditNoteDate">
                                <mat-header-cell *matHeaderCellDef>Credit Note Date</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="date" class="form-control" [(ngModel)]="element.creditNoteDate"
                                        [ngModelOptions]="{standalone: true}" name="creditNoteDate{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="depositBankName">
                                <mat-header-cell *matHeaderCellDef>Deposit Bank Name</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="text" class="form-control" [(ngModel)]="element.depositBankName"
                                        [ngModelOptions]="{standalone: true}" name="depositBankName{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="collectionReceivedDate">
                                <mat-header-cell *matHeaderCellDef>Collection Received Date</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="date" class="form-control" [(ngModel)]="element.collectionReceivedDate"
                                        [ngModelOptions]="{standalone: true}"
                                        name="collectionReceivedDate{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="chequeNumber">
                                <mat-header-cell *matHeaderCellDef>Cheque/RTGS No</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="text" class="form-control" [(ngModel)]="element.chequeNumber"
                                        [ngModelOptions]="{standalone: true}" name="chequeNumber{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="chequeDate">
                                <mat-header-cell *matHeaderCellDef>Cheque Date</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="date" class="form-control" [(ngModel)]="element.chequeDate"
                                        [ngModelOptions]="{standalone: true}" name="chequeDate{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="remarks">
                                <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <input type="text" class="form-control" [(ngModel)]="element.remarks"
                                        [ngModelOptions]="{standalone: true}" name="remarks{{element.slNo}}" />
                                </mat-cell>
                            </ng-container>

                            <div class="table-scroll-window">

                                <mat-header-row *matHeaderRowDef="['select','slNo','invoiceNo','netInvoiceAmount','invoiceAmount','TDS','TDSAmount','ReceivableAmount','CollectionAmount','roundOff','creditNoteNumber',
                                    'creditNoteAmount','creditNoteDate','depositBankName','collectionReceivedDate','chequeNumber','chequeDate','remarks'
                                    ]"></mat-header-row>
                                <mat-row *matRowDef="let row; columns:['select','slNo','invoiceNo','netInvoiceAmount','invoiceAmount','TDS','TDSAmount','ReceivableAmount','CollectionAmount','roundOff','creditNoteNumber',
                                    'creditNoteAmount','creditNoteDate','depositBankName','collectionReceivedDate','chequeNumber','chequeDate','remarks'
                                    ]" [class.selected]="row.slNo === selectedRowSlNo"
                                    (click)="selectedRowSlNo = row.slNo"></mat-row>
                            </div>
                        </mat-table>

                    </div>
                </div>

                <div class="row g-3 mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Total Collection Amount</label>
                        <input type="text" class="form-control" formControlName="totalCollectionAmount" />

                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Total TDS Amount</label>
                        <input type="text" class="form-control" formControlName="totalTdsAmount" />

                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Total Difference Amount</label>
                        <input type="text" class="form-control" formControlName="totalDifferenceAmount" />

                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Notes</label>
                        <input type="text" class="form-control" formControlName="notes" />

                    </div>
                </div>


            </form>

            <!-- <mat-card-footer class="footer"> -->
            <div class="d-flex justify-content-end mt-3" style="gap: 10px; padding-right: 8px;">
                <!-- <div> -->

                <button type="Cancel"
                    style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0; color: black;"
                    (click)="closeclick()">
                    Cancel
                </button>

                <button type="submit"
                    style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white;"
                    (click)="saveTDSSlab()">
                    Save
                </button>
                <!-- </div> -->
            </div>
            <!-- </mat-card-footer> -->
        </mat-card-content>

    </mat-card>
</div>