
  <mat-card class="custom-card">

    <!-- HEADER FIX -->
    <mat-card-header class="sticky-header" style="display:flex; justify-content: space-between; align-items:center;">
      <mat-card-title style="color: #302CB3;"> View Invoice Culture </mat-card-title>
      <button mat-icon-button (click)="onClose()" class="no-border-icon">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>

   

    </mat-card-content>

    <br />
    <mat-card-footer class="footer">
      <div class="d-flex justify-content-end mt-3" style="gap: 10px; padding-right: 8px;">

        
      </div>
    </mat-card-footer>
  </mat-card>


<!-- Loading Overlay -->
<div *ngIf="isLoading" class="loading-overlay">
  <img src="assets/Loading.gif" alt="Loading...">
</div>