<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">

                
                <li><a [routerLink]="['/Master/input/inputaggregatorclient']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Input
                        Aggregator</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>