<div class="headerSOP">
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">

                <li><a [routerLink]="['/Master/AccountReceivable/ClientAdvancePayment']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Client Advance
                        Payment
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/ClientAdvanceReport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Client Advance
                        Payment Report
                    </a>
                </li>

                <li><a [routerLink]="['/Master/AccountReceivable/collectionpendingreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Collection Pending
                        Report
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/invoicecollectionreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Invoice Collection
                        Report
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/Forecast']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Forecast
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/CreditNoteUpdate']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Credit Note Update
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/CreditNoteApproval']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Credit Note
                        Approval
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/Clientledgerreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Client Ledger
                        Report
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/LTDSreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">LTDS Report
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/Genericupload']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Generic Upload
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/UnpaidInvoiceReport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Unpaid Invoice
                        Report
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/DebitNote']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Debit Note
                    </a>
                </li>
                <li><a [routerLink]="['/Master/AccountReceivable/CreditMatrix']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Credit Note Matrix

                    </a>
                </li>

                <li><a [routerLink]="['/Master/AccountReceivable/BankTransferHTH']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bank Transfer HTH
                        Status
                    </a>
                </li>

                <li><a [routerLink]="['/Master/AccountReceivable/ClientTDSSlabMaster']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Client TDS Slab
                        Master
                    </a>
                </li>

                <li><a [routerLink]="['/Master/AccountReceivable/invoicecollection']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Invoice Collection
                    </a>
                </li>

                <li><a [routerLink]="['/Master/AccountReceivable/aparadjustmentupdate']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">APARAdjustment
                        Update
                    </a>
                </li>





            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>