<div class="headerSOP">
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                               
                                <li><a [routerLink]="['/Master/reimbursementnavigation/loanandadvance']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Loan and advance</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>