<div class="container-fluid">
    <div style="display:flex; float:right; margin-right: 25px; gap:10px; margin-top:15px;">
        <div class="py-1"
            style="display: inline-block; margin-right: 10px; align-items: center; border-radius: 10px; border: 1px solid #e9e9e9; width: 200px; height: 35px; background-color: white; padding: 0px 10px 0px 10px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);">
            <i style="margin-right: 6px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 12 12" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                        fill="#7E7E7E" />
                </svg>
            </i>
            <input type="text" [(ngModel)]="searchText" #searchBox (keyup)="applyFilter(searchBox.value)"
                placeholder="Search"
                style="border: none; outline: none; width: 80%; font-size: 12px; background-color: transparent;" />
        </div>
        <button (click)="InvoiceQC()"
            style="width: 100px; height: 35px; color: white;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
            <div
                style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                Invoice QC</div>
        </button>
    </div>

</div>

<div class="table-wrapper1">
    <div class="table-scroll">
        <mat-table [dataSource]="dataSource" class="custom-table mat-elevation-z8 custom-table">
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">

                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            
           
            <ng-container matColumnDef="invoiceType">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">Invoice Type</th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.invoiceType === 'Proforma' ?
                    'Draft' : element.invoiceType }}</td>
            </ng-container>
          
            <ng-container matColumnDef="Req_No">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">Request No</th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.req_No }}</td>
            </ng-container>
                <ng-container matColumnDef="invoice_Number">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Invoice Number</th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.invoice_Number }}</td>
            </ng-container>
           
            <ng-container matColumnDef="company_Code">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Company Code </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.company_Code }}</td>
            </ng-container>
            <ng-container matColumnDef="company_Id">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Company_Id </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.company_Id }}</td>
            </ng-container>

            <ng-container matColumnDef="pay_Period_Id">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> pay_Period_Id </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.pay_Period_Id }}</td>
            </ng-container>
            <ng-container matColumnDef="pay_Period">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> pay_Period </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.pay_Period }}</td>
            </ng-container>

           
            <ng-container matColumnDef="lotNo">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Lot No. </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">{{ element.lotNo }}</td>
            </ng-container>

            <ng-container matColumnDef="net_CTC">
                <th mat-header-cell *matHeaderCellDef> Net CTC </th>
                <td mat-cell *matCellDef="let element">{{ element.net_CTC }}</td>
            </ng-container>
            <ng-container matColumnDef="netPay">
                <th mat-header-cell *matHeaderCellDef> Net Pay</th>
                <td mat-cell *matCellDef="let element">{{ element.netPay }}</td>
            </ng-container>
            <ng-container matColumnDef="input_No">
                <th mat-header-cell *matHeaderCellDef> Input No. </th>
                <td mat-cell *matCellDef="let element">{{ element.input_No }}</td>
            </ng-container>
           
            <ng-container matColumnDef="employee_Head_Count">
                <th mat-header-cell *matHeaderCellDef> Head Count </th>
                <td mat-cell *matCellDef="let element">{{ element.employee_Head_Count }}</td>
            </ng-container>
           
            <ng-container matColumnDef="serviceChargeAmount">
                <th mat-header-cell *matHeaderCellDef> Service Charge Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.serviceChargeAmount }}</td>
            </ng-container>
           

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </mat-table>
        <mat-paginator class="mat-footer-paginator" #PeningLotPaginator [pageSizeOptions]="[5,10, 25, 100]"
            showFirstLastButtons></mat-paginator>
    </div>

</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif">
</div>




<!-- <div *ngIf="isLoading" class="loader-overlay">
       <img src="../../../assets/Loading.gif">
    </div> -->