

.clear-icon {
  opacity: 0;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
  padding: 4px;
  cursor: pointer;
}


.hover-clear-field .clear-icon {
  opacity: 0;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  transition: opacity 0.2s ease;
}

.hover-clear-field:hover .clear-icon {
  opacity: 1;

}

.hover-clear-field .clear-icon:hover {
  color: #000;
}

.mat-mdc-form-field-icon-prefix>.mat-icon,
.mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 0 0 0 !important;
  box-sizing: content-box;
}