<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/banknonvoicenavigation/bankneftculture']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bank NEFT
                        Culture</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/financeholdreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Finance Hold
                        Report</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/bankconsolidatedreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bank consolidated
                        Report</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/downloadbatch']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Download Batch</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/bonusaccumulatedreport']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bonus Accumulated Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>