<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">



                <li><a [routerLink]="['/Master/banknonvoicenavigation/bankneftculture']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bank NEFT
                        Culture</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/PartialSalaryReleaseStatus']" class="nav-link"
                        routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Partial Salary Release Status</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/PartialBatchCreation']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Partial Batch Creation</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/Salaryreleaseprocess']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Salary Release Process</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/GratuityBatchGeneration']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Gratuity Batch Generation</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/BonusBatchCreation']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bonus Batch Creation</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>