<div class="page-wrapper">
    <div class="scrollable-content">

        <mat-card-title
            style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 600;padding-top: 12px;">
            ETDS Generation</mat-card-title>
        <div class="container py-2">
            <div class="row g-3 align-items-end">

                <div class="col-md-3">
                    <label class="form-label text-muted small">Legal Entity Code</label>
                    <select class="form-select form-select-sm">
                        <option>Select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Financial Year</label>
                    <select class="form-select form-select-sm">
                        <option>Select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Quarter</label>
                    <select class="form-select form-select-sm">
                        <option>Select</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label text-muted small">Employee Type</label>
                    <select class="form-select form-select-sm">
                        <option>Select</option>
                    </select>
                </div>



                <div class="col-md-3 d-flex gap-2">
                    <button style="
    width: 800px;
    height: 30px;
    background: #302CB3;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  ">
                        Generate ETDS
                    </button>

                    <button style="
        width: 800px;
    height: 30px;
    background: #302CB3;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  ">
                        Get Differences
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>